.site-header {
  background: rgba(0,0,0,0.7);
  padding: 15px 20px;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #00e0ff;
  font-weight: bold;
  font-size: 1.2rem;
}

nav {
  display: flex;
  justify-content: flex-end; /* align nav content to the right */
  flex: 1; /* take up remaining space */
  margin-right: 40px;
}
.login-btn {
  display: inline-block;
  background: #00e0ff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  width: auto;             /* button shrinks to fit text */
}

.login-btn:hover {
  background: #00bcd4;
}
